* {
    margin: 0px;
    padding: 0px;
    position: relative;
}

:root {
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --pink: #F79BD3;
    --peach: #FFCCCC;
    --beige: #FFDDCC;
    --yellow: #FFEECC;
    --maroon: #9F0D7F;
    --red: #EA1179;
}




.heading{
    font-family: var(--primary-font);
    color: var(--maroon);
    background-color: var(--pink);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

section{
    display: flex;
    justify-content: center;
    position: relative;
    top:10rem;
}

.container{
    background-color: var(--beige);
    box-shadow: 15px 15px 30px gray;
    border-radius: 20px;
    width: 25rem;
    padding: 2rem;
}

#toDoBox{
    width: 20rem;
    height: 1.2rem;
    padding: 0.5rem;
    border-radius: 20px;
    font-family: var(--secondary-font);
    border: 0.1rem solid var(--maroon);
    outline: none;
}

.addButton{
    height: 1.8rem;
    width: 1.8rem;
    color: white;
    font-size: 24px;
    margin-left: 1rem;
    border-radius: 50%;
    border: 1px solid var(--red);
    background-color: var(--red);
}


ol li {
    list-style: none;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
    margin-left: 1rem;
    user-select: none;
    padding-left:  25px;
}



ol li::before{
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    top:7px;
    left: -3px;
    outline: 0.13rem solid var(--red);
}



ol li span{
    color: var(--red);
    font-size: 1.25rem;
    content: "x";
    position: absolute;
    top : -0.2rem;
    left: 22rem;
}

ol li p{
    /* background-color: black;  */
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    text-align: center;
    color: var(--red);
    font-size: 1.25rem;
    content: "x";
    position: absolute;
    top : -0.19rem;
    left: 23.5rem;
}



ol li.check{
    text-decoration: line-through;
    color: #555;
}

ol li.check::before{
    background-image: url(./images/checked.png);
    background-size: cover;
    background-position:center;
}

.foot{
    height: 2rem;
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--secondary-font);
    color: var(--maroon);
    background-color: var(--pink);
    position: absolute;
    top: 58rem; 
}

.foot a{
    color: var(--maroon);
    font-size: 0.8rem;
    font-weight: bold;
}



@media(max-width : 450px){
    body{
        width: 100%;
    }
    #toDoBox{
        width: 16rem;
    }  
    ol li {
        font-size: 15px;
        width: 260px;
    }

    ol li span{
        left: 18rem;
    }
    ol li p{
        left: 19rem;
    }
}


@media(max-width : 380px){
    body{
        width: 100%;
    }
    .heading{
        font-size: 28px;
    }

    #toDoBox{
        width: 14rem;
    }  
    
    ol li span{
        left: 16rem;
    }
    ol li p{
        left: 17rem;
    }

    ol li {
        font-size: 15px;
        width: 240px;
    }
}

@media(max-width : 330px){
    body{
        width: 100%;
    }
    .heading{
        font-size: 26px;
    }
    #toDoBox{
        width: 10rem;
    }  
    
    ol li span{
        left: 12rem;
    }
    ol li p{
        left: 13rem;
    }
    ol li {
        font-size: 15px;
        width: 160px;
    }
}
